<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Bettingon</title>
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />
</head>
<body>
<div id='app'></div>
</body>
</html>
